@import 'base/reset';
@import 'base/mixins';
@import 'base/variables';

@import 'components/type';
@import 'components/shared';

body {
  font-size: 12px;
  font-family: 'Maria pro', serif;
}

main {
  margin-top: 1em;
}
#root {
  padding: 16px;
}
nav {
  text-align: left;
  justify-content: left;
  border-bottom: 1px solid lightgray;
}
nav h3 a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .75em;

}

.createPost {
  margin-top: 1em;
}
.createPost h2{
  padding: 1em;
}
.post h3,p {
  display: inline-block;
  padding: .5em;
}

input,textarea, button {
  display: block;
  border: 1px solid black;
  padding: .75em;
  margin: .5em auto;
}

button {
  transition: .25s ease;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color:white;
}

footer {
  position: absolute;
  bottom:0;
  padding: 15px;
    border-top: 1px solid lightgray;
}

#feed > h2{
  margin: 1em 1em 2em;
  text-transform: uppercase;
}
.feed {
  display: flex;
  flex-direction: row;

}
.myfeed {
  width: 60%;
}

.activeUsers {
  width: 20%;
}

.users {
  text-align:left;
}

.users h3 {
  color: lightblue;
  border-bottom: 2px solid transparent;
  transition: 0.25s;
  display: inline-block;
  clear:both;
}

.users h3:hover {
  border-bottom: 2px solid lightblue;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.5;
  cursor: pointer;
  transition: .25s;
}

.inactive p {
  display: none;
}

.inactive ~ div {
  display: none;
}

.show {
  color: black;
  opacity: 1;
}

.show ~ div {
  display: block;
  cursor: pointer;
}

.show ~ div img {
  width: 300px;
  display: block;
  margin:0 auto;
}
